

.app-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  font-size: 24px;
  font-family: monospace;
  margin: 24px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filter-panel {
  margin: 0 24px;
  background: beige;
}

.app-list {
  display: flex;
  margin: 0 24px;
  height: 100%;
  padding: 24px;
  justify-content: center;
  background: aliceblue;
}

.app-list > * {
  margin: 0 10px;
}
